// section contact
.social-item {
	margin: 0 auto;
}

.social-link:link,
.social-link:visited {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
	color: $text-color-dark;
	cursor: pointer;
	transition: color 0.3s;
}

.social-link:hover,
.social-link:active {
	color: $color-primary-darker;
}

.social-icon {
	font-size: 3.2rem;
	margin-bottom: 1.6rem;
	color: $color-primary;
}
